<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coldairance.rbac.menu.infrastructure.mapper.MenuMapper">
    <insert id="insert">
        insert into s_menu(
               `menu_id`,
               `menu_name`
        ) values (
                #{menuId},
                #{menuName}
        )
    </insert>

    <select id="selectByIds" parameterType="java.util.List" resultType="com.coldairance.rbac.menu.infrastructure.dao.MenuDO">
        select `menu_id`,`menu_name`
        from s_menu where `menu_id` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>