<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coldairance.rbac.user.infrastructure.mapper.UserMapper">
    <insert id="insert">
        insert into s_user(
               `user_id`,
               `username`,
               `password`
        ) values (
                #{userId},
                #{username},
                #{password}
        )
    </insert>

    <select id="selectByIds" parameterType="java.util.List" resultType="com.coldairance.rbac.user.infrastructure.dao.UserDO">
        select `user_id`,`user_name`
        from s_user where `user_id` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>